body{
    display: inline; 
    background-color: #eaebed;
    text-align:center; 
    font-family: Tahoma;
    margin: auto; 

}
.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 5%;
   
}
.connteiner{
    justify-content: center;
}
.image{
    object-fit: contain;
    object-position: top left;
    object-fit: cover;
}
.error{    
    align-items: inherit;
    color: #333d47;
    font-size: 60px;
 
}
.message1{
    color: #626478;
    font-size: 25px;
    font-weight: bolder;

}
.message2{
    color: #7e818d;
    font-size: 15px; 

}
.bottom{
    background-color:#696e8b;
    margin: auto;
    max-width: 120px;
    text-align: center;
    padding: 20px;
    
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: large;
}